* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  width: 80vw;
  margin: 1em auto;
}
a {
  text-decoration: none;
  color: black;
}
.icon {
  width: 1em;
}

iframe {
  border: none;
  width: 100vw;
}
