footer {
  background-color: rgb(240, 240, 240);
  width: 100vw;
  position: absolute;
  left: 0;
  padding: 1em 10vw;
  display: flex;
}
footer ul {
  width: 26.67vw;
  list-style: none;
}
footer ul label {
  font-weight: bold;
}
footer li {
  font-size: 0.9em;
  color: rgb(50, 50, 50);
}
